# Entorno virtual
.venv/

# Datasets (demasiado pesados para GitHub)
tw_source.csv
archive/

# Modelos entrenados
*.h5
*.keras

# Archivos de Jupyter / Python
.ipynb_checkpoints/
__pycache__/

data_split/
